Repository footdev/Algorithm_Study, pull requests merged in 2023-09, with the labels that each got.

#36 feat: boj 물통 풀이 완료 close #26
  dahye/boj/boj2251.java
Labels: dahye

#37 feat: BOJ 1405 미친 로봇 풀이 완료 close #24
  juha/boj/input/boj1405.txt
  juha/boj/src/solution/boj1405.java
Labels: juha

#39 feat: boj 쉬운최단거리 풀이 완료 close #38
  junho/boj/쉬운최단거리.java
Labels: junho

#40 feat: BOJ1581 락스타 락동호 풀이 완료
  hyeonsu/boj/BOJ1581.java
Labels: hyeonsu

#42 feat: BOJ 2026 소풍 풀이 완료 close #41, BOJ 1939 중량제한 풀이 완료 close #54
  hyeongseok/boj/소풍.java
  hyeongseok/boj/중량제한.java
Labels: hyeongseok

#44 feat: boj 카드합체놀이 풀이 완료 close #43, programmers 다리를 지나는 트럭 풀이 완료
  junho/boj/카드합체놀이.java
  junho/programmers/다리를지나는트럭.java
Labels: junho

#47 feat: programmers 전력망을 둘로 나누기 풀이 완료
  hyeonsu/boj/BOJ1581.java
  hyeonsu/programmers/게임_맵_최단거리.java
  hyeonsu/programmers/전력망을_둘로_나누기.java
Labels: hyeonsu

#49 feat: boj 물통 풀이 완료 close #48
  dahye/boj/boj15903.java
  dahye/boj/boj9251.java
  dahye/boj/boj9252.java
  dahye/programmers/다리를지나는트럭.java
Labels: dahye

#59 feat: BOJ 16724 피리 부는 사나이 풀이 완료 close #57
  hyeongseok/boj/피리_부는_사나이.java
Labels: hyeongseok

#60 feat: boj 피리 부는 사나이 풀이 완료 close #58
  junho/boj/피리부는사나이.java
Labels: junho

#62 feat: programmers 카펫 풀이 완료 close #61
  dahye/programmers/카펫.java
Labels: dahye

#63 feat: BOJ 1406 에디터 풀이 완료 close #55
  juha/boj/input/boj1406.txt
  juha/boj/src/solution/boj1406.java
Labels: juha

#65 feat: BOJ 16724 피리 부는 사나이 풀이 완료 close #64
  hyeonsu/boj/BOJ16724.java
Labels: hyeonsu

#73 feat: BOJ 20040 사이클 게임 풀이 완료 close #68
  hyeongseok/boj/사이클_게임.java
Labels: hyeongseok

#74 feat: BOJ 20400 사이클 게임 풀이 완료 close #67
  hyeonsu/boj/BOJ20040.java
Labels: hyeonsu

#75 feat: boj 20040 사이클 게임 풀이 완료 close #70
  dahye/boj/boj20040.java
Labels: dahye

#76 feat: BOJ 20040 사이클 게임 풀이 완료 close #71
  juha/boj/input/boj20040.txt
  juha/boj/src/solution/boj20040.java
Labels: juha

#81 feat: programmers 다리를 지나는 트럭 풀이 완료 close #66
  hyeongseok/programmers/다리를_지나는_트럭.java
Labels: hyeongseok

#83 feat: BOJ 1620 나는야 포켓몬 마스터 이다솜 풀이 완료 close #82
  juha/boj/input/boj1620.txt
  juha/boj/src/solution/boj1620.java
  juha/programmers/src/programmers_다리를지나는트럭.java
Labels: juha

#86 feat: BOJ 17255 N으로 만들기 풀이 완료 close #85
  hyeonsu/boj/BOJ17255.java
Labels: hyeonsu

#88 feat: Programmers 수식 최대화 풀이 완료 close #87
  juha/programmers/src/programmers_수식최대화.java
Labels: juha

#90 feat: programmers 다리를 지나는 트럭 풀이 완료 close #89
  hyeonsu/programmers/다리를_지나는_트럭.java
Labels: hyeonsu

#91 feat: boj LCA 풀이 완료 close #77
  dahye/boj/boj11437.java
  dahye/boj/boj2026.java
Labels: dahye

#96 feat: BOJ 1374 강의실 풀이 완료 close #95
  hyeongseok/boj/강의실.java
Labels: hyeongseok

#98 feat: boj 과제 나눠주기 풀이완료 close #97
  junho/boj/과자나눠주기.java
Labels: junho

#100 feat: BOJ 12865 평범한 배낭 풀이 완료 close #99
  juha/boj/input/boj1003.txt
  juha/boj/input/boj12865.txt
  juha/boj/src/solution/boj1003.java
  juha/boj/src/solution/boj12865.java
Labels: juha

#103 feat: programmers 길 찾기 게임 풀이 완료 close #101
  hyeonsu/programmers/길_찾기_게임.java
Labels: hyeonsu

#105 feat: programmers 올바른 관호 풀이 완료 close #104
  dahye/boj/boj14267.java
  dahye/programmers/올바른괄호.java
Labels: dahye

#108 feat: BOJ 1662 압축 풀이 완료 close #106, programmers 올바른 괄호 풀이 완료 close #107
  hyeongseok/boj/압축.java
  hyeongseok/programmers/올바른_괄호.java
Labels: hyeongseok

#112 feat: BOJ 12865 평범한 배낭 풀이 완료 close #111
  hyeongseok/boj/평범한_배낭.java
Labels: hyeongseok

#113 feat: programmers 수식최대화 풀이 완료 close #4
  dahye/programmers/수식최대화.java
Labels: dahye

#115 feat: BOJ 11722 가장 긴 감소하는 부분 수열 풀이 완료 close #102
  juha/boj/input/boj11722.txt
  juha/boj/src/solution/boj11722.java
Labels: juha

#116 feat: BOJ 1106 호텔 풀이 완료 close #114
  hyeongseok/boj/호텔.java
Labels: hyeongseok

#118 feat: Programmers 네트워크 풀이 완료 close #35
  juha/programmers/src/programmers_네트워크.java
Labels: juha

#121 feat: programmers 정수 삼각형 풀이 완료 close #119, BOJ 14267 회사 문화 1 풀이 완료 close #120
  hyeongseok/boj/회사_문화_1.java
  hyeongseok/programmers/정수_삼각형.java
Labels: hyeongseok

#125 feat: BOJ 1261 알고스팟 풀이 완료 close #123, BOJ 1504 특정한 최단 경로 풀이 완료 close #124
  hyeongseok/boj/알고스팟.java
  hyeongseok/boj/특정한_최단_경로.java
Labels: hyeongseok
